body {
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.header {
    display: flex;
    height: 70px;
    padding: 0 200px;
   
}

.header, .container  {
    background-color: #1F2937;
    padding: 0 200px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;

}

ul {
    display: flex;
    margin: 0;
    margin-left: auto;
    list-style-type: none;
    gap: 20px;
}

.header-content-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.header-content-secondary-text, ul {
    font-size: 18px;
    color: #F9FAF8;
}

.header-image {
    background-color: grey;
    width: 400px;
    height: 200px;
    text-align: center;
    color: #F9FAF8;
    font-size: 24px;
  
}

.header-content {
    flex: 1;
}

.container {
    display: flex;
    
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.sectionOne {
    padding: 0 200px;
    margin-bottom: 100px;
}

.body-title {
    text-align: center;
    margin: 50px 0;
    font-weight: bold;
    font-size: 30px;
}

.box {
    border-style: solid;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.one, .two, .three, .four {
    width: 100px;
}

.sectionTwo {
    background-color: lightgrey;
    padding: 100px 200px;
    font-size: 30px;
    font-style: italic;
}

.author {
    font-size: 20px;
    font-style: normal;
    text-align: right;
    font-weight: bold;
}

.sectionThree {
    display: flex;
    margin: 50px 200px;
    height: 100px;
    color: white;
    background-color: rgb(58, 48, 199);
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.sectionThree-title {
    font-weight: bold;
    font-size: 20px;
}

button {
    flex-shrink: 0;
    flex-grow: 0;


}